@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', system-ui;
    --main-bg-color: rgb(37, 38, 44);
    --off-white-color: rgb(232, 235, 255);
    --delete-color: rgb(201, 69, 69);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

header {
    border-bottom: 2px solid black;
    width: 100%;
    align-self: center;
    padding: 5px;
    text-align: center;
    color: var(--off-white-color);
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 800px;
}

.postBtn {
    margin: 25px;
    width: 150px;
    height: 50px;
    background-color: darkblue;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    border: solid 2px var(--off-white-color);
}

.postBtn-clicked {
    background-color: lightblue;
    color: black;
    transition: all 0.2s ease-in
}

.postBtn:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
    transition: all 0.2s ease-in
}

.post-modal {
    width: 20%;
    min-width: 300px;
    height: 220px;
    border: solid 2px var(--off-white-color);
    border-radius: 8px;
    margin-bottom: 25px;
    color: var(--off-white-color);
    display: none;
    flex-direction: column;
    justify-content: center;
}

.modal-error{
    width: 80%;
    margin: 4px auto;
    border: solid 2px red;
    border-radius: 4px;
    background-color: var(--delete-color);
    color: white;
    text-align: center;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

label,
.radio-container,
form > button {
    padding: 4px;
}

input {
    padding: 2px;
}

form > div {
    padding: 4px;
    margin: 4px;
}
.card-container {
    width: 25%;
    height: 90%;
    border: solid 2px var(--off-white-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-width: 400px;
}

.dragging {
    color: greenyellow;
    border: solid 2px orange;
}

.dragover{
    transition: all 0.1s ease-in;
    box-shadow: 0 0 20px white;
}


.card-header {
    border-bottom: solid 2px var(--off-white-color);
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.todo-header {
    background-color: red;
}

.working-header {
    background-color: yellow;
}

.done-header {
    background-color: green;
}

.card-body {
    border: solid 2px var(--off-white-color);
    color: var(--off-white-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 275px;
    min-height: 150px;
    margin-bottom: 15px;
    overflow: hidden;
}

.post-header {
    text-align: center;
    padding: 4px;
    border-bottom: solid 2px var(--off-white-color);
    color: black;
    background-color: var(--off-white-color);
}

.post-body {
    text-align: center;
    margin-top: 8px;
    flex-grow: 2;
}

.post-delete {
    width: 100%;
    margin: 0 auto;
    border-top: 2px solid var(--off-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: var(--off-white-color);
    color: black;
    
}

.post-delete:hover {
    cursor: pointer;
    transition: all 0.1s ease-in;
    background-color: var(--delete-color);
    color: white;
}
